@charset "UTF-8";
.todoList{
	height : 1000px;
	width : 820px;
	background : #ffff99; 
	border : 1px solid brown;
	float : left;
	margin : 100px;
	overflow : auto;
}
.expiredList{
	height: 1000px;
	width: 820px;
	background: #C73E3E; 
	border : 1px solid brown;
	float : left;
	margin : 100px;
	overflow : auto;
}
.title{
	background : black;
	color : white;
	margin-top : 0px;
	height : 70px;
}
.todo{
	border-radius : 15px;
	height : 100px;
	width : 800px;
	background : #ffff99; 
	margin : auto;
	margin-top : 6px;
	border-collapse : collapse;
	box-shadow : 0 0 0 1px brown;	
}
.expired{
	border-radius : 15px;
	height : 100px;
	width : 800px;
	background : #C73E3E; 
	margin : auto;
	margin-top : 6px;
	border-collapse : collapse;
	box-shadow : 0 0 0 1px black;	
}
.checkboxTd{
	border-right : 1px solid brown;
	width : 10%;
	text-align : center;
}
.deleteBottonTd{
	border-left : 1px solid brown;
	width : 10%;
	text-align : center;
}
.contentTd{
	border-top : 1px solid brown;
}
.expiredcheckboxTd{
	border-right : 1px solid black;
	width : 10%;
	text-align : center;
}
.expireddeleteBottonTd{
	border-left : 1px solid black;
	width : 10%;
	text-align : center;
}
.expiredcontentTd{
	border-top : 1px solid black;
}
.dateTd{
	width : 40%;
}
.done{
	border-radius : 15px;
	text-decoration : line-through;
	height : 100px;
	width : 800px;
	background : #D7D77E; 
	margin : auto;
	margin-top : 6px;
	border-collapse : collapse;
	box-shadow : 0 0 0 1px brown;	
}